{% extends "base.html.twig" %}
{% block body %}
    <p> Bonjours ,<br>S'il vous plaît modifier le kilométrage de la véhicule {{ numserie }} qui vous avez rendue aujourd'hui et changer sa disponibilité <br> Cordialement</p>
{% endblock %}