<head>
    <meta charset="UTF-8" />
    <title>pdf</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>
<body style="font-size: 15pt">

<p style="color: transparent">Unité ordonnancement et assistance</p><br><br>
<center><h1 style="color: transparent">DEMANDE DE PRISE EN CHARGE DE SEJOUR <br><br>DES CADRES A L’INTERIEUR DE LA TUNISIE </h1></center>


<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3" style="color: transparent"><b>Nom et Prenom</b></div>
    <div class="col-md-3 col-sm-3 col-xs-3 " ><b>zribi mohamed firas </b></div>
    <div class="col-md-3 col-sm-3 col-xs-3" style="color: transparent">matricule</div>
    <div class="col-md-3 col-sm-3 col-xs-3 " ><b>4563</b></div>

</div>
<br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3" style="color: transparent"><b>fonction</b></div>
    <div class="col-md-3 col-sm-3 col-xs-3 " ><b>CHEF DE DIVISION</b></div>
    <div class="col-md-3 col-sm-3 col-xs-2" style="color: transparent">Direction</div>
    <div class="col-md-3 col-sm-3 col-xs-1 " ><b>DPTG</b></div>
    <div class="col-md-3 col-sm-3 col-xs-1" style="color: transparent">Unité</div>
    <div class="col-md-3 col-sm-3 col-xs-2 " ><b>G042</b></div>

</div>
<br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-5" style="color: transparent"><b>Lieu et objet du déplacement</b></div>
    <b>SFEX RECEPTION TECKNIQUE DES TRANSMETTEURS DE PRESSION</b>

</div>
<br><br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-4" style="color: transparent"><b>Date d’entrée à l’hôtel</b></div>
    <div class="col-md-3 col-sm-3 col-xs-5 " ><b>12/12/2017</b></div>
    <div class="col-md-3 col-sm-3 col-xs-3" style="color: transparent"><b>(matin ou après-midi)</b></div>

</div>
<br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-4" style="color: transparent"><b>Date sortie de l’hôtel</b></div>
    <div class="col-md-3 col-sm-3 col-xs-5 " ><b>12/12/2017</b></div>
    <div class="col-md-3 col-sm-3 col-xs-3" style="color: transparent"><b>(matin ou après-midi)</b></div>

</div>
<br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-5" style="color: transparent"><b>Imputation des dépenses OT</b></div>
    <div class="col-md-3 col-sm-3 col-xs-1 " ><b>12</b></div>
    <div class="col-md-3 col-sm-3 col-xs-1" style="color: transparent"><b>UF</b></div>
    <div class="col-md-3 col-sm-3 col-xs-1 " ><b>13</b></div>
    <div class="col-md-3 col-sm-3 col-xs-2" style="color: transparent"><b>projet</b></div>
    <div class="col-md-3 col-sm-3 col-xs-2 " ><b>14</b></div>



</div>

<center style="color: transparent" >PERSONNES ACCOMPAGNANTES</center>

<table class="table " border="0" style="font-size: 15pt">
    <thead>
    <tr style="color: transparent" >
        <th>Nom et Prénom</th>
        <th>Matricule</th>
        <th>College</th>
        <th>Fonction</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><center>Mark</center></td>
        <td><center>Otto</center></td>
        <td><center>@mdo</center></td>
        <td><center>kkkk</center></td>
    </tr>
    <tr>
        <td><center>Jacob</center></td>
        <td><center>Thornton</center></td>
        <td><center>@fat</center></td>
        <td><center>kkkk</center></td>
    </tr>
    <tr>
        <td><center>Larry</center></td>
        <td><center>the Bird</center></td>
        <td><center>@twitter</center></td>
        <td><center>kkkk</center></td>
    </tr>
    </tbody>
</table>
<br>
<table class="table " border="0" style="font-size: 15pt">
    <thead>
    <tr style="color: transparent" >
        <th>Le Directeur ou<br>Le Chef de<br>La région</th>
        <th>DAJ<br>Unité ordonnancement et<br>Assistance</th>
        <th>Décision de la D.A.J<br>Dans les cas<br>particuliers</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td><center>zribi mohamed firas<br></center></td>
        <td><center>majdi smaoui<br></center></td>
        <td><center>hatem laadheri<br></center></td>

    </tr>
</body>